/*------------------GENERIC CSS TAGS-----------------*/

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*--------------SMOOTH SCROLLING BEHAVIOR FOR YOUR WEBSITE -------------------------------------*/

html {
  scroll-behavior: smooth;
}

/*--------------SMOOTH SCROLLING BEHAVIOR FOR YOUR WEBSITE -------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.classy {
  display: flex;
}

/*----------------- That Cool Moving line thing that happened when you were moving the mouse over the links , 
yeah this code below does that --------------------- */
a {
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: black;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.nav__link:hover:after {
  width: 100%;
  left: 0;
}

.nav__link-white:after {
  background-color: black;
}
.nav__link-black:after {
  background-color: white;
}

.nav__link {
  padding: 5px;
  border-radius: 50px;
  background-color: rgb(227, 240, 240) 300ms;
  transition: all 300ms ease;
}

/*----------------- That Cool Moving line thing that happened when you were moving the mouse over the links , 
yeah this code above does that --------------------- */

.row {
  width: 100% max-width 800px;
  margin: 0 auto;
  padding: 0 12px;
}

.container {
  /* For the language logos container*/
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.section__title {
  margin-bottom: 20px;
}

.purple {
  color: purple;
  font-size: 32px;
}

/*--------- NAVIGAION BAR--------- */

/*Let's add a bit of an alternating color aesthetic using CSS*/

section:nth-child(odd) {
  /*Setting a patter where every other panel is gray*/
  background-color: rgb(241, 236, 236);
  margin-bottom: 5px;
}

/* This will make every other section grey to match an aesthetic, this will
be a recurring code so every other section will be grey*/

nav {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  /*  ^ this helps center the information*/

  display: flex;
  /* ^ this will start to help move the content*/

  justify-content: space-between;
  /* ^ The justify-content: space-between value justifies items along the container's main axis, 
  creating an equal amount of space between each item  */

  align-items: center;
  /* ^ Centers the navigation menu vertically*/
  padding: 0 12px;
}
/*now let's work on the individual items in the navigation */

/* ---------NAVIGATION LIST-----------*/

li {
  transition: background-color 300ms;
  /*This is for the background color to change when you mouse over it connects to li:hover*/
  list-style-type: none;
  margin: 012px;
  text-decoration: none;
  font-size: 16px;
  color: #242424;
  font-weight: 600;
  /*This will get rid of the bullet points*/
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  /*  This is designing the a href links */
  margin: 012px;
  color: black;
  text-decoration: none;
  /*
    this will make sure there are no underlines or other decorations on the links
    making it very clean
    */
  font-weight: 700;
}

.nav__link--anchor-contact {
  /*This is going to change the "contact" into a button*/
  background-color: lightblue;
  padding: 8px 20px;
  border-radius: 50px;
  transition: all 300ms ease;
  /* This will make the hover effect smooth*/
}

.personal_logo {
  color: darkblue;
  font-weight: bolder;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  margin: 12px;
}

.navy {
  display: flex;
}

/* ---------ABOUT ME-----------*/

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* this specifies the direction of the display flex container We chose column to keep things tight up and down*/
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info-container {
  /* This is for the top part where the image and information about me is */

  flex-direction: column;
  /*
    The flex-direction property in CSS is used to set the direction of the flex container's main axis. It can have one of four values: row, row-reverse, column, or column-reverse.

row is the default value and arranges flex items horizontally.
row-reverse is similar to row, but arranges flex items in the opposite order.
column arranges flex items vertically.
column-reverse arranges flex items vertically in the opposite orde
    */

  display: flex;
  /*
    The CSS property display: flex is the most flexible display property in CSS, 
    and it allows designers to create flexible layouts with elements that can be 
    aligned and distributed vertically or horizontally. This property enables the 
    flexbox layout mode, which allows designers to manipulate elements' alignment, 
    spacing, and more
    
    */
  justify-content: center;
  align-items: center;
  padding: 40px;

  max-width: auto; /* Let's make it so the text is not so wide on the page */

  margin: 0 auto;

  text-align: center;
}

.about-me__info-container{

  animation: anime 800ms 1s ease-out backwards; 

}

.about-me_picture--mask {
  width: 100px; /* Adjusted: Removed duplicate width property */
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
}


.intrograph {
  text-align: center;
  padding: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.photobomb {
  /*
  My image was too big , let's make it smaller this photobomb area was made 
  just to control the profile image at the top
  */
  
  width: 100%;
  height: 100px;
  transform: scale(1); /* this transform is used to zoom in the picture a bit*/
  padding-top: 8px;
}

.text-purple {
  font-size: larger;
  color: purple;
}

.about__me-link {
  /*Change icon size by using font size*/
  font-size: 20px;
  text-decoration: none;
  padding: 16px 16px;
}

.about__me-link:hover {
  color: aqua;
}

/*--------------IMAGE-----------------*/

.udraw {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 30px;
  padding: 10px;
  justify-content: center;
}

.codeimg {
  width: 100%;
  height: 800px;
}

/*---------------------LANGUAGE ICONS/ TECH STACK------------------*/

.container {
  max-width: 1200px; /* Adjust based on your design */
  margin: auto; /* Center the container */
  padding: 20px;
  margin-bottom: 30px;
}

.row {
  text-align: center;
}

.language__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items in the list */
}

.language {
  width: calc(
    100% / 3 - 20px
  ); /* Adjust for 3 items per row, accounting for some margin */
  margin: 10px; /* Margin around each item */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
  position: relative; /* Needed for absolute positioning of the name */
}

.language__image--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 200ms ease, filter 200ms ease; /* Smooth transition for transform and filter */
}

.language__img {
  max-width: 100%; /* Ensure the image is responsive and fits its container */
  height: 200px; /* Maintain aspect ratio */
  transition: transform 200ms ease, filter 200ms ease; /* Smooth transition for transform and filter */
}

.language__name {
  font-size: 32px;
  margin-top: 20px;
  bottom: 0;
  width: 100%; /* Ensure the name spans the width of the image */
  text-align: center; /* Center the name text */
  transform: scale(0); /* Initially hide the name */
  transition: transform 500ms ease; /* Smooth transition for transform */
  opacity: 0; /* Make the name fully transparent initially */
}

.language:hover .language__image--wrapper,
.language:hover .language__img {
  transform: scale(0.9); /* Make the image smaller on hover */
  filter: brightness(80%); /* Make the image dimmer on hover */
}

.language:hover .language__name {
  transform: scale(1); /* Show the name on hover */
  opacity: 1; /* Make the name fully visible on hover */
}

/*----------------------------------PORTFOLIO SECTION---------------------------------------------*/

.project__img {
  height: 500px;
  width: 100%;
  max-width: 700px;
  transition: all 500ms ease;
}

.project_wrapper {
  display: flex;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden; /* This is to make sure that the image is not taking over the border so that the effect will work*/
  position: relative;
  margin-bottom: 40px;
}

/* we need to have the image have an effect where the screen goes black and shows information to do that we need
a before and after of the original container, our container was .project_wrapper so now we need a before and 
after of that */

.project_wrapper:before {
  content: "";
  position: absolute; /* This makes sure that the position is where is is supposed to be and not taking over*/
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2px;
}

.projecta:hover .project_wrapper:before {
  opacity: 0.7;
}

.projecta.intrograph .project__img {
  transform: scale(1.07);
  filter: blur(20px);
}

.projects__list {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* --------------- We were seeing the info to the right of the portfolio image and remember we are trying to make it go over
the image when it blurs, below is how we did this --------------------------- */

.projinfo {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0; /*TEXT INVISIBLE BEFORE WE CLICK ON IT*/
  transition: transform 450ms, opacity 300ms; /* EASE OUT THE TRANSITION OF SHOWOING THE TEXT*/
}

/* TEXT SHOWS UP WHEN YOU HOVER OVER IT */

.projecta:hover .projinfo {
  transform: translateY(-50%);

  opacity: 1;
}

.proj__title {
  font-size: 40px;
  margin-bottom: 10px;
}

.proj__subtitle {
  font-size: 20px;
  margin-top: 25px;
}

.proj__title,
.proj__subtitle,
.proj__paragraph,
.projinfo_links {
  text-align: left;
  color: black;
  text-decoration: none;
}

.projinfo_links {
  display: flex;
  align-items: center;
  margin: 10px;
}

/*-----------------------NOW FOR THE FOOTER ----------------------------*/

.footera {
  background-color: black;
}

.logoa {
  height: 400px;
  width: 100%;
  max-width: 400px;
}

.rowa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.copy {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  color: white;
  padding-left: 30px;
}


/*-------------TO MAKE THE LITTLE "TOP" APPEAR WHEN YOU PUT YOUR MOUSE OVER THE LOGO AT THE BOTTOM-------- */

.footer__logo--popper {
  font-size: 30px;
  color: white;
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 400ms ease;
}

.navy__anchor:hover .footer__logo--popper {
  transform: translateX(-20px);
  transform: translateY(120px);
  opacity: 1;
  margin-bottom: 20px;
}
.navy__anchor {
  margin-bottom: 20px;
  position: relative;
}


/*---^^^^^^^^^^^^^TO MAKE THE LITTLE "TOP" APPEAR WHEN YOU PUT YOUR MOUSE OVER THE LOGO AT THE BOTTOM-------- */

/*---------------------- THE FUNKY FOOTER LINE FOR WHEN YOU MOUSE GOES OVER THE WORD -----------------*/

.nav__link2:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: white;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.nav__link2:hover:after {
  width: 100%;
  left: 0;
}

.nav__link2-white:after {
  background-color: black;
}
.nav__link2-black:after {
  background-color: white;
}

.nav__link2 {
  padding: 5px;
  border-radius: 50px;
  background-color: rgb(227, 240, 240) 300ms;
  transition: all 300ms ease;
}

/*---------------------- THE FUNKY FOOTER LINE FOR WHEN YOU MOUSE GOES OVER THE WORD -----------------*/

/*-------------------NOW LET'S MAKE THINGS WORK BETTER FOR A CELLPHONE /TABLET -------------------------------*/

/* Adjustments for tablets */

@media (max-width: 768px) {
  
  .language, .projecta {
    width: 100%;
    margin: 10px 0;
  }
  .codeimg {
    height: auto; /* Adjust image height to maintain aspect ratio */
  }
  .projinfo {
    display: flex;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .navy__anchor {
    flex-direction: column;
  }
  .footer__logo--popper {
    right: 0%;
    transform: translate(50%, 0);
  }

  nav {
    padding: 0 12px;
    height:68px;
  }

  h1 {

    font-size: 28px;
  }

  .infograph { 
    font-size: 18px;
  }
}
  


/* Adjustments for mobile phones */
@media (max-width: 480px) {
  .depot:not(:last-child) {
    display: none;
  }
  .project__img, .logoa {
    height: auto; /* Ensure images scale properly */
  }
  .language__img {
    display: flex;
    flex-direction: column;
    max-width: (100%/2);
    height: 150px; /* Adjust tech stack icons for smaller screens */
  }
  
  .proj__paragraph {

    display: none;
  }

  .proj__subtitle {

    display: none;
  }
 
.projinfo_links {

  font-size: 32px;
}
}
/*-------------------NOW LET'S MAKE THINGS WORK BETTER FOR A CELLPHONE -------------------------------*/





/*---------------------------------------IT'S ANIMATION TIME!!!!!!!-------------------------------*/






@keyframes anime {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about-me_picture--mask {
  animation: anime 800ms ease-out backwards;
}






/*--------------------------------------- LET"S GO!!! IT'S ANIMATION TIME!!!!!!!-------------------------------*/
